* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}
body {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.nodes {
  margin-top: 150px;
}
.heap-number {
  border: 1px magenta solid;
  padding: 0.6rem 0.9rem;
  border-radius: 50%;
  background: whitesmoke;
}

.left {
  float: left;
  margin-right: -1rem;
}
.right {
  float: right;
  margin-left: -1rem;
}
svg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -40;
}
