* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
}
body {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.nodes {
  margin-top: 50px;
}

.left {
  float: left;
}
.right {
  float: right;
}
